/* Define variables for reusability */
$navbarHeight: 4em;
$pageTitleHeight: 6em;
$columnWidth: 20%;
$centerColumnWidth: 60%;
$borderWidth: 1px;

button {
  cursor: pointer;
}

/* Fullscreen navbar */
.navbar {
  height: $navbarHeight;
  background-color: white;
  color: #aaa;
  text-align: center;
  padding: 0 1.5em;
}

/* Page title and data range selector */
.selector {
  height: $pageTitleHeight;
  background-color: #f6f8fa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5em;
}

/* Three-column layout */
.container {
  display: flex;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.column {
  min-height: calc(100vh - 180px);
  overflow: auto;
}

.left-column {
  width: $columnWidth;
}

.center-column {
  width: $centerColumnWidth;
  .content{
    padding: 1em;

    .formula{
      border: 1px solid #eee;
      border-radius: 4px;
      margin-bottom: 1em;

      .time-segment{
        .add{
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          color: cornflowerblue;
          font-weight: 500;
          outline: none;
          border: 0;
          svg{
            height: 1.25em;
            width: 1.25em;
            fill: cornflowerblue;
            margin-right: 0.5em;
          }      
        }
      }
      .inputs{

        min-height: 0;
        transition: 250ms;
        display: none;
        padding: 1em;
        flex-direction: column;
        &.open{
          min-height: auto;
          display: flex;
          .input-container{
            border: 1px solid #eee;
            border-radius: 4px;
            width: 100%;
            padding: 1em;
            margin-bottom: 1em;
          }
        }

      }

      .top, .bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-height: 2em;

        .left, .right{
          min-height: 2em;
          line-height: 0;
          align-items: center;
          display: flex;
          flex-direction: row;
        }

      }

      .top{
        border-bottom: 1px solid #eee;
        background: #e5e7ea;

        .left button{
          
          transform: rotate(-90deg);
          transition: 300ms;
          
          &.toggled{
            transform: rotate(0deg);
          }

        }
        
        button{
          height: 1.5em;
          width: 1.5em;
          position: relative;
          background: transparent;
          border: 0;
          outline: none;
          font-size: 1.5em;
          fill: #919daf;
          padding: 0 0.4em;
        }
      }

      .bottom{
        background: #f6f8fa;
        padding: 0.5em 1em;
        box-shadow: inset 0px -1px 0px #EDF0F2;
        .left{
          svg{
            height: 1.5em;
            width: 1.5em;
          }
          .text{
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -.024em;
            padding-left: 0.5em;        
          }
        }
        .right{
          .rounded{
            border-radius: 0.25em;
            background: #e9ecf0;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: .01em;
            padding: 0.5em;
          }
        }
      }

      input{
        font-size: 0.75em;
        font-weight: 600;
        background: transparent;
        outline: none;
        border: 0;
        color: #373737;
      }

    }
  }
}

.right-column {
  width: $columnWidth;
}

/* Center column top section */
.top-section {
  padding: 1em;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;

  svg{
    height: 1em;
  }
  
  .formulas{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    h3{
      font-size: 1em;
      line-height: 1.5em;
      letter-spacing: 0em;
      font-weight: 500;
    }
  }
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

.plus-button {
  background-color: #0074cc;
    color: #fff;
    border: none;
    height: 2em;
    width: 2em;
    cursor: pointer;
    line-height: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    border-radius: 4px;
    svg{
      fill: #fff;
    }
}

/* Media queries for responsiveness (adjust as needed) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
    border-right: none;
  }

  .center-column {
    border-left: none;
  }
}

/* Media queries for responsiveness (adjust as needed) */
@media (min-width: 1239px) {
  .container {
    width: 97.5%;
    margin: auto;
  }
  .center-column{
    border-left: $borderWidth solid #eee;
    border-right: $borderWidth solid #eee;  
  }
}
